<nav
  id="sidebar"
  class="navbar bg-body-tertiary vh-100 flex-column justify-content-start"
>
  <div class="container-fluid justify-content-center-p-1">
    <a class="navbar-brand h1 fwbold text-success mb-3" routerLink="/dashboard"
      >Auth EC</a
    >
  </div>

  <ul class="nav flex-column w-100 px-3">
    <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOnly">
      <a routerLink="/admin-only" class="nav-link">Admin only</a>
    </li>
    <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.adminOrTeacher">
      <a routerLink="/admin-or-teacher" class="nav-link">Admin or teacher</a>
    </li>
    <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.isFemaleAndTeacher">
      <a routerLink="/apply-for-maternity-leave" class="nav-link"
        >Apply for maternity leave</a
      >
    </li>
    <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.hasLibraryId">
      <a routerLink="/library-members-only" class="nav-link"
        >library-members-only</a
      >
    </li>
    <li class="nav-item" [appHideIfClaimsNotMet]="claimReq.isFemaleAndBelow10">
      <a routerLink="/female-and-under-age-of-ten" class="nav-link"
        >female-and-under-age-of-ten</a
      >
    </li>
  </ul>
</nav>

<div id="main">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid px-5 py-1">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <button class="btn btn-warning" (click)="onLogout()">Logout</button>
    </div>
  </nav>

  <div class="mt-5 p-5">
    <router-outlet />
  </div>
</div>
